{% extends 'AvanzuAdminThemeBundle:layout:base-layout.html.twig' %}

{% block title %}PerFi{% endblock %}
{% block page_title %}{% endblock %}
{% block page_subtitle %}{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('bundles/avanzuadmintheme/static/'~ app.environment ~'/styles/admin-lte.css') }}" />
    <link rel="stylesheet" href="{{ asset('bundles/avanzuadmintheme/static/'~ app.environment ~'/styles/admin-lte-forms.css') }}" />
{% endblock %}

{% block javascripts_head %}
    <script src="{{ asset('bundles/avanzuadmintheme/static/'~ app.environment ~'/scripts/modernizr.js') }}" ></script>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('bundles/avanzuadmintheme/static/'~ app.environment ~'/scripts/common.js') }}" ></script>
    <script src="{{ asset('bundles/avanzuadmintheme/static/'~ app.environment ~'/scripts/tools.js') }}" ></script>
    <script src="{{ asset('bundles/avanzuadmintheme/static/'~ app.environment ~'/scripts/admin-lte.js') }}" ></script>
{% endblock %}


{% block avanzu_admin_footer %}
    <footer class="main-footer">
        <div class="pull-right hidden-xs">
            <small>Theme by <a href="http://almsaeedstudio.com">Almsaeed Studio</a>.
        </div>
        <strong>PerFi</strong>
    </footer>
{% endblock %}
