{% import "AvanzuAdminThemeBundle:layout:macros.html.twig" as macro %}

<!DOCTYPE html>
<html>
<head>
    <title>
        {% block avanzu_document_title %}{{ block('avanzu_page_title') }}{% endblock %}
    </title>
    {% include('AvanzuAdminThemeBundle:Partials:_head.html.twig') %}
    {% block avanzu_head %}{% endblock %}
</head>

<body class="{{ avanzu_admin_context.skin|default("")|body_class }}">
<div class="wrapper">

    <!-- Main Header -->
    <header class="main-header">

        <!-- Logo -->
        <a href="{{ path('homepage') }}" class="logo">
            <!-- mini logo for sidebar mini 50x50 pixels -->
            <span class="logo-mini">
                {% block avanzu_logo_mini %}<b>A</b>LT{% endblock %}
            </span>
            <!-- logo for regular state and mobile devices -->
            <span class="logo-lg">
               {% block avanzu_logo_lg %} <b>Per</b>Fi {% endblock %}
            </span>
        </a>

        <!-- Header Navbar -->
        <nav class="navbar navbar-static-top" role="navigation">
            <!-- Sidebar toggle button-->
            <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
                <span class="sr-only">{{ 'Toggle navigation'|trans({}, 'AvanzuAdminTheme')  }}</span>
            </a>
        </nav>
    </header>
    <!-- Left side column. contains the logo and sidebar -->
    <aside class="main-sidebar">

        <!-- sidebar: style can be found in sidebar.less -->
        <section class="sidebar">

            {% block avanzu_sidebar_user %}
                {% if app.user is not null and is_granted('IS_AUTHENTICATED_FULLY') %}
                    {{ render(controller('AvanzuAdminThemeBundle:Sidebar:userPanel')) }}
                {% endif %}
            {% endblock %}

            {% block avanzu_sidebar_search %}
                {{ render(controller('AvanzuAdminThemeBundle:Sidebar:searchForm')) }}
            {% endblock %}

            {% block avanzu_sidebar_nav %}
                {% if avanzu_admin_context.knp_menu.enable %}
                    {% include 'AvanzuAdminThemeBundle:Sidebar:knp-menu.html.twig' %}
                {% else %}
                    {{ render(controller('AvanzuAdminThemeBundle:Sidebar:menu', {'request':app.request})) }}
                {% endif %}
            {% endblock %}

        </section>
        <!-- /.sidebar -->
    </aside>

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                {% block avanzu_page_title %}{{ 'Avanzu Admin'|trans({}, 'AvanzuAdminTheme') }}{% endblock %}
                <small>{% block avanzu_page_subtitle %}{% endblock %}</small>
            </h1>

            {% block avanzu_breadcrumb %}
                {% if avanzu_admin_context.knp_menu.enable %}
                    {% include 'AvanzuAdminThemeBundle:Breadcrumb:knp-breadcrumb.html.twig' %}
                {% else %}
                    {{ render(controller('AvanzuAdminThemeBundle:Breadcrumb:breadcrumb', {'request':app.request, 'title' : block('avanzu_page_title')})) }}
                {% endif %}
            {% endblock %}
        </section>

        <!-- Main content -->
        <section class="content">
            {% block flash_messages %}
                {% if app.session.flashbag.peekAll|length > 0 %}
                    <div class="row">
                        <div class="col-sm-12">
                            {{ macro.session_flash(avanzu_adminlte_close_alert|default(false)) }}
                        </div>
                    </div>
                {% endif %}
            {% endblock flash_messages %}

            {% block avanzu_page_content %}{% endblock %}
        </section>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->

    <!-- Main Footer -->

    {% block avanzu_footer %}
    <footer class="main-footer">
        <strong>Per</strong>Fi, a personal finance tracker.
    </footer>
    {% endblock %}
    {% block avanzu_control_sidebar %}
        {% if avanzu_admin_context.control_sidebar %}
            {% include 'AvanzuAdminThemeBundle:Partials:_control-sidebar.html.twig' %}
        {% endif %}
    {% endblock %}
</div>
<!-- ./wrapper -->
<!-- REQUIRED JS SCRIPTS -->

{% include 'AvanzuAdminThemeBundle:Partials:_scripts.html.twig' %}
{% block avanzu_javascripts %}{% endblock %}
{% block avanzu_javascripts_inline %}{% endblock %}

</body>
</html>
